:root{
  --Nav-Bg-Color : #000;
  --Nav-Text-Color : #fff;
}

/* key frames */

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }  
}

@keyframes slideX {
  from{
    opacity: 0;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideY {
  from{
    opacity: 0;
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap'); */

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, sans-serif;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  width: 25%;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  /* background-color: #ffffff; */
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  /* background: linear-gradient(to bottom, #d3d3d3, #a9a9a9); */
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 20px;
}

nav h1 {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}


nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px;
  /* transition: color 0.3s ease, background-color 0.3s ease; */
}

nav ul li a:hover {
  color: white; /* Highlight text */
  background-color: black; /* Add a hover background */
  padding: 5px 10px;
  border-radius: 15px;
}

.introContainer{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

#introText{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

#introBtn{
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}

#introBtn button{
  border: 1px solid black;
  border-radius: 2rem;
  background-color: white;
  width: 5rem;
  height: 1.5rem;
  font-weight: bolder;
  font-size: x-small;
}

#SociaBtn{
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}




/* Window Container */
.window {
  width: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Window Header with Buttons */
.window-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #ddd;
  border-bottom: 1px solid #ccc;
}

/* Circle Buttons */
.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.red { background: #ff5f57; }    /* Close */
.yellow { background: #ffbd2e; } /* Minimize */
.green { background: #28c940; }  /* Maximize */

/* Window Content */
.window-content {
  padding: 20px 0px 20px 20px;
  /* text-align: center; */
  font-family: "Fira Code", monospace;
}




/* AboutMe */

#AboutSection{
  text-align: center;
  padding-top: 2vh;
}

#AboutContainer{
  font-size: small;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* gap: 2rem; */
}


#AboutText{
  width: 100%;
  height: 50%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 5vh;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

#introImg img{
  /* border: 1px solid maroon; */
  width: 15vw;
  min-width: 100px;
  border-radius: 50%;
  box-shadow: 2px 2px 50px black;
}

#AboutExEd{
  width: 100%;
  /* background-color: gray; */
  display: flex;
  justify-content: space-around;
  align-items: start;
}

#AboutExperience, #AboutEducation{
  min-width: 150px;
  width: 40%;
  height: 50%;
  border: 1px solid rgb(56, 56, 56);
  padding: 2rem 0;
  border-radius: 2rem;
  text-align: center;
}

#Projects {
  min-height: 90vh;
  padding-top: 2vh;
  text-align: center;
}

#Projects h1{
 text-align: center;
}

.ProjectsArr{
  margin: 10vh 0;
  display: flex;
  justify-content: space-around;
  gap: 5vw;
  /* overflow: auto; */
  padding: 1vw;
  /* position: relative; */
  min-width:max-content;
}

.ProjectSection{
  height: 50vh;
  min-width: 200px;
  width: 20vw;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

}

.ProjectSection:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.ProjectSection p{
  font-size: 0.6rem;
    color: #666;
    text-align: center; /* Centered description */
    margin-bottom: 20px;
    line-height: 1;
    padding: 0 10px;
}

.ProjectSection img{
  height: 50%;
  width: 90%;
  border-radius: 10px;
  margin: 1vw;
}

.ProjectSection h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center; /* Centered title */
}

/* .ProjectSection button{
  position:absolute;
  bottom: 40px;
} */



#Contact{
  text-align: center;
  height: 100vh;
  align-content: center;
}

.ContactContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2vh;
  /* align-content: center; */
  height: max-content;
  width: 70vw;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  padding: 5px;
  
}

.ContactDetails {
  display: flex;
  align-items: center;
  gap: 1vw;
}

/* animation */

.slideX{
  animation: slideX linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  width: max-content;
  text-align: center;
  margin: auto;
}

.slideY{
  animation: slideY linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  width: max-content;
  text-align: center;
  margin: auto;
}

/* utility class */

.container {
  /* border: 1px solid maroon; */
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .introContainer{
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
  }

  #AboutText{
    flex-direction: column;
  }

  #projects{
    height: fit-content;
  }

  .ProjectSection{
    min-width: 200px;
  }

}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  .window{
    width: 80vw;
    font-size: x-small;
  }

  .ProjectsArr{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slider {
    animation: scroll 10s linear infinite; /* Slow and Smooth */
  }
  
  .slide {
    min-width: 100px;
    margin: 0 5px;
  }
  
  .slide img {
    width: 5vw;
  }

  .ContactContainer{
    flex-direction: column-reverse;
    width: max-content;
    font-size: small;
  }

  nav ul li a {
    font-size: 12px;
  }

}

@media (max-width: 475px) {
  
  .container {
    width: 100%;
  } 
}
